[Desktop Entry]
Name=Manual
Comment=SystemRescueCd manual
Exec=firefox file:///usr/share/sysrescue/index.md
Icon=help-browser
Terminal=false
Type=Application
MimeType=text/plain;
Categories=Utility;
