SERIAL 0 38400
ui boot/syslinux/menu.c32
timeout 3000
prompt 0

MENU TITLE CZO-SYSTEM-RESCUE %ISO_VERSION% (%ISO_DATE%)

# https://www.syslinux.org/wiki/index.php?title=Comboot/menu.c32
# 25 for text mode, 28 for VESA graphics mode.
# ROWS passe de 12 a 17, donc +5, donc help = -1
#menu WIDTH 80
#menu MARGIN 0
menu ROWS 10
menu TABMSGROW 16
menu CMDLINEROW 16
#menu TIMEOUTROW 20
#menu HELPMSGROW 22

# debian
#menu color border 36;44
#menu color sel    1;37;44
#menu color unsel  36;44

